.card {
    background-color: #313A49;
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.quote-title {
    color: #52ffa8;
    font-size: 12px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 15px 0;
}

.quote {
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0;
}

.separator {
   display: flex;
   align-items: center;
   width: 100%;
   margin-top: 20px;
   margin-bottom: 20px;
}

.vertical {
    height: 25px;
    width: 20px;
    background-color: #C0D3DA;
    border-radius: 10px;
    margin: 0 10px;
}

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #C0D3DA;
}

.dice-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #52ffa8;
    border-radius: 50%;
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
}


.dice-button:hover {
    box-shadow: 0 0 40px #52ffa8;
}

    